#rowofcards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding:10px;
    margin-top: 2%;
    margin-bottom: 2%;
}

#rowofcards #user-card{
    border-radius: 40px;
    background-image: url("https://pbs.twimg.com/media/EOwOnZ1XkAAoFz9?format=jpg&name=4096x4096");
    padding: 15px;
    color: aliceblue;
}

#rowofcards #Hours-card {
    border-radius: 40px;
    background-image: url("https://pbs.twimg.com/media/EOwOnZ1XkAAoFz9?format=jpg&name=4096x4096");
    padding: 15px;
    color: aliceblue;
}

#rowofcards #Revenue-card{
    border-radius: 40px;
    background-image: url("https://pbs.twimg.com/media/EOwOnZ1XkAAoFz9?format=jpg&name=4096x4096");
    padding: 15px;
    color: aliceblue;
}