#footer{
    background-color: #1a1a1a;
    padding-top: 20px;
    padding-bottom: 20px;
}

hr{
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
}

#text-area1{
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
    font-size: 12px;
    text-align: center;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
}
